  <div class="navbar">
            <div>
                <a href='index.html'>Employee registeration</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><button class='loginbtn' onclick="document.getElementById('login-form').style.display='block'"
                        style="width:auto;">Login</button></li>

                    <li><button class='loginbtn' onclick="document.getElementById('login-form').style.display='block'"
                            style="width:auto;">Register</button></li>

                   
                </ul>
            </nav>
        </div>